<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agile.app.mapper.AgileSubprojectMapper">
    
    <resultMap type="AgileSubproject" id="AgileSubprojectResult">
        <result property="id"    column="id"    />
        <result property="projectId"    column="project_id"    />
        <result property="subprojectId"    column="subproject_id"    />
        <result property="subprojectName"    column="subproject_name"    />
        <result property="subStatus"    column="sub_status"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="verifyTime"    column="verify_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectAgileSubprojectVo">
        select id, project_id, subproject_id, subproject_name, sub_status, create_time, create_by, update_time, verify_time, update_by, del_flag from agile_subproject
    </sql>

    <select id="selectAgileSubprojectList" parameterType="AgileSubproject" resultMap="AgileSubprojectResult">
        <include refid="selectAgileSubprojectVo"/>
        <where>  
            <if test="projectId != null "> and project_id = #{projectId}</if>
            <if test="subprojectId != null  and subprojectId != ''"> and subproject_id = #{subprojectId}</if>
            <if test="subprojectName != null  and subprojectName != ''"> and subproject_name like concat('%', #{subprojectName}, '%')</if>
            <if test="subStatus != null  and subStatus != ''"> and sub_status = #{subStatus}</if>
        </where>
    </select>
    
    <select id="selectAgileSubprojectById" parameterType="Long" resultMap="AgileSubprojectResult">
        <include refid="selectAgileSubprojectVo"/>
        where id = #{id}
    </select>

    <insert id="insertAgileSubproject" parameterType="AgileSubproject" useGeneratedKeys="true" keyProperty="id">
        insert into agile_subproject
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">project_id,</if>
            <if test="subprojectId != null and subprojectId != ''">subproject_id,</if>
            <if test="subprojectName != null and subprojectName != ''">subproject_name,</if>
            <if test="subStatus != null">sub_status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="verifyTime != null">verify_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null">#{projectId},</if>
            <if test="subprojectId != null and subprojectId != ''">#{subprojectId},</if>
            <if test="subprojectName != null and subprojectName != ''">#{subprojectName},</if>
            <if test="subStatus != null">#{subStatus},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="verifyTime != null">#{verifyTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateAgileSubproject" parameterType="AgileSubproject">
        update agile_subproject
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="subprojectId != null and subprojectId != ''">subproject_id = #{subprojectId},</if>
            <if test="subprojectName != null and subprojectName != ''">subproject_name = #{subprojectName},</if>
            <if test="subStatus != null">sub_status = #{subStatus},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="verifyTime != null">verify_time = #{verifyTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAgileSubprojectById" parameterType="Long">
        delete from agile_subproject where id = #{id}
    </delete>

    <delete id="deleteAgileSubprojectByIds" parameterType="String">
        delete from agile_subproject where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>